*{
	margin: 0;
	padding: 0;
	font-family: arial;
}

/*loader*/

#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 100px;
  left: 240px;
  z-index: 100;
}

body{
	background: #222;
}
/* Navigation Bar*/
.container{
	margin: 0;
	padding: 0;
	display: flex;
	height: 100px;
	background: #000;
	position: relative;
}

.initials{
	width: 70%;
	padding: 10px;
	font-size: 13px;
	margin-top: 20px;
	margin-left: 10px: 
	font-weight: 300;
	text-align: left;
}

.initials a{
	text-decoration: none;
	color: #666;
}

.top ul{
	display: none;
}

.text{
	width: 80%;
	margin-top: 130px;
	margin-left: 80px;
	color: #666;
	text-align: center;
}

.text span{
	color: rgb(255, 32, 66);
}

.text h3{
	color: rgb(255, 32, 66);

}

.text h4{
	color: rgb(255, 32, 66);
	font-size: 18px;
}

.container1{
	display: inline-block;
	width: 85%;
	height: 600px;
	margin-top: 20px;
	margin-left: 30px;
}

.Pg2text{
	width: 80%;
	height: 240px;
	margin: 10px;
	margin-left: 20px;
	text-align: justify;
}

.Pg2text h1{
	text-align: center;
	margin-top: 7px;
	font-size: 15px;
	font-weight: bolder;
	letter-spacing: 0.8px;
	font-family: sans-serif;
	color: rgb(0, 196, 255);
}

.Pg2text p{
	text-align: justify;
	line-height: 1.7em;
	word-spacing: 0.5px;
	color: #fff;
	margin: 15px;
	font-size: 16px;
}

.Pg2text p span{
	color: rgb(0, 196, 255);
	text-transform: uppercase;
}

.container1 .Pg3text{
	width: 75%;
	height: 260px;
	margin: 20px;
	margin-left: 30px;
}

.container1 .Pg3text img{
	border-radius: 20px;
	margin: 5px;
	margin-top: 220px;
}

.skillz{
	position: relative;
	width: 200px;
	height: 100px;
	margin-top: 10px;
	margin-left: 30px;
}

.skillz h1{
	font-size: 35px;
	color: rgb(0, 196, 255);
	font-weight: 400;
	text-align: left;
	margin-top: 5px;
}

.skillz ul li{
	text-decoration: none;
	list-style: none;
	margin-top: 15px;
	font-weight: 200;
	color: #fff;
}

.link{
	position: absolute;
}

.link i{
	margin-top: 30px;
	margin-bottom: 20px;
	margin-left: 30px;
	font-size: 20px;
	color: rgb(0, 196, 255);
	word-spacing: 1px;
}

.link button{
	width: 120px;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 8px;
    margin: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background: rgb(0, 196, 255);
}

.form-element{
	padding : 10px;
}

.form-element input{
	width: 100%;
	height: 40px;
	border: none;
	border-bottom: 2px solid #ccc;
	border-radius: 5px;
}


.form-element input:focus{
	border-bottom: 2px solid rgb(106, 90, 205);
}

.form-element label{
	 font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	 font-weight: bold;
	 color: #fff;
}

.form-element button{
	width: 150px;
	height: 30px;
	border:1px solid transparent;
	border-radius: 8px;
	margin: 5px;
	font-size: 15px;
	font-weight: bold;
	color :#fff;
	background: rgb(0, 196, 255);
	
}

.form-element button:hover{
	cursor: pointer;
	color: #000;
	background: #666;
}

 h2{
		text-align: center;
		color: rgb(0, 196, 255);
		text-transform: uppercase;
		font-size: 23px;
		font-weight: bold;
		margin-top: 20px;
	}

.container2{
	display: block;
	width: 350px;
	margin-right: 15px;

}

.container2 div{
	padding: 10px;
	height: 150px;
	margin: 20px;
	margin-left: 70px;
	text-align: center;
}

.contain{
	position: relative;
	width: 100%;
	display: block;
	justify-content: space-between;
	align-items: center;
	margin: 20px;
	margin-left: 70px;
}

.contain .square{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 250px;
	height: 250px;
	margin: 5px;
	border-bottom: 1px solid #fff;
}

.contain .square .content{
	padding: 20px;
	text-align: center;
}

.contain .square .content i{
	max-width: 48px;
}

.contain .square .content p{
	color: #fff;
	padding: 10px 0;
	font-size: 14px;
}

.contain .square .content img{
	max-width: 70px;
	border-radius: 50%;
}

.contain .square .content h3{
	color: rgb(0, 196, 255);
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 600;
}

#contact-form{
	position: relative;
	display: block;
	float: right;
	margin-top: -100px;
	margin-right: 60px;
}

#contact-form p{
	color: rgb(0, 196, 255);
	text-align: center;
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
}

#contact-form label{
	color: #fff;
	padding: 3px;
	font-size: 14px;
}

#contact-form button{
	margin-top: 10px;
	width: 100px;
	height: 25px;
	border-radius: 5px;
	margin-left: 100px;
	background: rgb(0,196,255);
}

#contact-form button:hover{
	background: #666;

}

.mansonry {
    width: 500px ;
    margin-top: 50px;
    margin-left: 50px;
}

.mansonry .box {
    	width: 150px;
    	display: inline-block;
    	margin-bottom:  10px;
    	padding: 10px;
}

.mansonry .box img {
    max-width: 140px;
    border-radius: 10px;
}

.mansonry.box h4 {
    margin: 10px 0 0;
    padding: 0;
    font-size: 10px;
    
}
.mansonry .mason {
    
    }

#picture-section {
    margin-top: 70px;
}

.mobile-menu{
	margin-top: 25px;
	margin-right: 10px;
	border-radius: 3px;
	height: auto;
	width: 70px;
	height: 30px;
	text-align: center;
	padding: 4px;
	color: #666;
}

.slide-menu{
	position: absolute;
	width: 200px;
	height: 150px;
	background-color: #666;
	top: 0;
	right : -200px;
	margin-top: 100px;
	clear: both;
	transition : right 1s;
	border-radius: 8px;
	text-align: center;
}

.slide-menu ul{
	font-weight: 200;
	font-size: 17px;
	padding: 20px;
	margin: 15px;
}

.slide-menu ul li{
	list-style: none;
	margin: 10px;
}

.slide-menu ul li a{
	text-decoration: none;
	color: #fff;
}

.slide-menu ul li a:hover{
	color: #000;
}

@media (min-width: 992px) {

.container{
	margin: 0;
	padding: 0;
	display: flex;
	height: 100px;
	background: #000;
	position: relative;
}

.initials{
	width: 70%;
	padding: 10px;
	font-size: 15px;
	margin-top: 10px;
	margin-left: 10px: 
	font-weight: 300;
	text-align: left;
} 

.initials a{
	text-decoration: none;
	color: #666;
}

.top{
	position: relative;
	width: 45%;
	height: 20px
	padding: 50px;
	margin:5px;
	padding: 2px;
}

.top ul{
	display: flex;
	margin: 30px;
	justify-content: space-between;
	font-weight: 200;
	font-size: 17px;
	padding: 3px;
	color: #fff;
}

.top ul li{
	list-style: none;
}

.top ul li a{
	text-decoration: none;
	color: #666;
}

.top ul li a:hover{
	color: rgb(255, 32, 66);
}
	
	body{	
		background-image: url(Images/img-02.jpg);
		background-position: cover;
		background-repeat: no-repeat;
		background-size: 100%;
		width: 100%;
		height: 100vh;
	}

.container1{
		display: inline-flex;
		width: 95%;
		height: 400px;
		margin-top: 50px;
	}

	.Pg2text{
		width: 50%;
		height: 250px;
		margin: 20px;
		margin-left: 50px;
		text-align: justify;
	}

	.Pg2text h1{
		text-align: center;
		margin-top: 15px;
		font-size: 30px;
		font-weight: bolder;
		letter-spacing: 0.8px;
		font-family: sans-serif;
		color: rgb(0, 196, 255);
	}

	.Pg2text p{
		text-align: justify;
		height: 1.3em;
		word-spacing: 0.5px;
		color: #fff;
		margin: 25px;
	}

	.Pg2text p span{
		color: rgb(0, 196, 255);
		text-transform: uppercase;
	}

	.container1 .Pg3text{
		width: 30%;
		height: 250px;
		margin: 20px;
	}

	.container1 .Pg3text img{
		border-radius: 20px;
		margin-left: 150px;
		margin-top: 20px;
	}

	.pg{
		display:flex;
		justify-content: space-between;
		width: 80%;
		height: 150px;
		margin-top: -70px;
		margin-left: 70px;
	}

	.form{
		width: 600px;
		height: 400px;
		margin-left: 400px;
		margin-top: 100px;
		border-radius: 20px;
	}

	.form #Message{
		height: 90px;
	}

	.form-element button{
		margin-left: 200px;
		margin-top: 20px;
	}

	 h2{
		text-align: center;
		color: rgb(0, 196, 255);
		text-transform: uppercase;
		font-size: 30px;
		font-weight: bold;
		margin-top: 20px;
	}
	.container2{
		display: inline-flex;
		margin-left: 180px;
		margin-top: 15px;
	}

	.container2 div{
		padding: 10px;
		height: 150px;
		margin: 20px;
		margin-left: 30px;
		text-align: center;
	}
	.contain{
	position: relative;
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: 10px;
	margin-left: 60px;
}

.contain .square{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 320px;
	height: 250px;
	margin: 20px;
	border-bottom: 1px solid #666;
}

.contain .square .content{
	padding: 30px;
	text-align: center;
}

.contain .square .content i{
	max-width: 48px;
}

.contain .square .content p{
	color: #fff;
	padding: 20px 0;
}

.contain .square .content img{
	max-width: 70px;
	border-radius: 50%;
}

.contain .square .content h3{
	color: rgb(0, 196, 255);
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 600;
}

#contact-form{
	position: relative;
	display: block;
	float: right;
	margin-top: -130px;
	margin-right: 180px;
}

#contact-form p{
	color: rgb(0, 196, 255);
	text-align: center;
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
}

#contact-form label{
	color: #fff;
	padding: 3px;
	font-size: 14px;
}

#contact-form button{
	margin-top: 10px;
	width: 100px;
	height: 25px;
	border-radius: 5px;
	margin-left: 100px;
	background: rgb(0,196,255);
}

#contact-form button:hover{
	background: #666;

}

.mansonry {
	position: relative;
    width: 1200px ;
    margin-top: 130px;
    margin-left: 50px;
    margin-right: 50px;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mansonry h2 {
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
}
   
.mansonry .box {
    width: 240px;
    height: 250px;
    margin:  10px;
    overflow: hidden;
    box-sizing: border-box;
    display: inline-block;
}

.mansonry .box img {
    max-width: 220px;
    border-radius: 20px;
}

.mansonry .box h4 {
    margin-top: 15px;
    padding: 10px;
    font-size: 15px;
    color: #fff;
    
}


#picture-section {
    margin-top: 70px;
}

.mobile-menu{
	display: none;
}

.slide-menu{
	display: none;
}

.link button{
	width: 120px;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 8px;
    margin: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background: rgb(0, 196, 255);
}
